.card {
    margin-bottom: 70px;

    position: relative; // относительно этого элемента расположим лоадер
    min-height: 80vh; // 80% vh- вьюпорт


    &__details {
        display: flex;
        gap: 30px;
        margin-bottom: 70px;
    }

    &__gallery {
        max-width: 710px;

    }

    //.card-gallery {}



    &__image {
        margin-bottom: 20px;
    }


    &__slider-thumb {
        // маленький слайдер
        max-width: 447px;
        margin: 0 auto;
    }

    &__thumb-btn {
        // button
        width: 120px;
        height: 120px;
        background-color: transparent;
        border: none;
    }



    &__info {
        width: 100%;
        padding-top: 120px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: $color-primary;
    }

    &__vendor-code {
        margin-bottom: 75px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    &__control {
        display: flex;
        align-items: center;
        max-width: 826px;
        margin-bottom: 70px;
    }

    &__count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 120px;
        width: 100%;
        margin-right: 80px;
    }

    &__btn {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid $color-primary;
        background-color: transparent;
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
    }

    &__thumb-btn--active {
        outline: 2px solid $color-main; // outline в отличии от border не сдвигает элемент

    }

    &__btn--dec {}


    &__number {
        line-height: 37px;
    }



    &__btn--inc {}

    &__price {
        // флекс элемент
        margin-right: auto; // элемент уйдет влево
        font-weight: 500;
        font-size: 34px;
        line-height: 41px;
    }



    &__add-cart {
        // кнпока В корзину
        width: 352px;
        height: 57px;
        // padding: 16px 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        background-color: $color-main;
        border: none;
    }

    &__param-list {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
    }

    &__params-item {
        display: grid;
        grid-template-columns: 210px max-content;
        gap: 100px;
    }

    &__description {}

    &__description-title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }

    &__description-text {
        max-width: 1450px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
    }


    &__preload {
        // лоадер
        position: absolute;
        top: 0; //  можно все 4 свойтсва объдинить так: inset:0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 100; // чтоб картинка не перекрывала лоадер
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;


        svg {
            transform: rotate(0);
            animation: rotation 0.3s infinite ease-in-out; // rotaion-название анимации
        }

    }
}