.filter {

    max-width: 340px;
    padding-top: 78px;


    @include tablet {
        // < 1000px;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 555; // чем больше индекс, тем он выше будет раполгаться  на станице
        padding: 14px 26px;
        background-color: $color-secondary;

        &-show {
            display: block;
        }
    }



    &__form {
        position: relative; // относительно фильтра позиционируем кнопку Очистть все
    }


    &__label-select {
        position: relative;

        &::after {
            // псевдоэлемент для галочки выпаддающего спсика
            content: '';
            position: absolute;
            right: 43px;
            top: 50%; // чтоб по центру было
            transform: translateY(calc(-50% - 3px)) rotate(45deg); // чтоы поднять наверх
            display: block; // чтоб воспринимал размеры
            width: 10px; // размеры галочки
            height: 10px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent $color-primary $color-primary transparent; // 4 стороны
        }
    }



    &__titile {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 37px;

        @include tablet {
            // < 1000px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            margin-left: auto;
            background-color: transparent;
            border: none;

            &::after {
                // псевдоэлемент галочка вниз для кнопки фильтра(выпадашки)
                content: '';
                display: block;
                width: 18px;
                height: 18px;

                background-image: url('img/filterArrow.svg');
                transform: rotate(180deg); // перевернули стрелочку вверх
            }

            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
        }
    }


    &__fields-list {
        margin-bottom: 40px;
    }


    &__fileld {
        margin-bottom: 30px;

        &--output {
            margin-bottom: 0;
        }
    }



    &__fileld-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }


    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &--column {
            flex-direction: column;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }


    &__input {
        width: 165px;
        height: 38px;
        padding: 9px 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $color-primary;

        &:hover {
            border-color: #04E277;

        }

        &:focus {
            outline: none;
            border-color: #0BD072;
        }

        &:active {
            outline: none;
            border-color: #0BD072;
        }

        @include laptop {
            width: 145px;
        }

        &::placeholder {
            color: $color-grey;
        }

        &--select {
            // выпадающий  список Категория 
            width: 100%;
            color: $color-grey;
            appearance: none; // чтоыб галочка у выпадащего списка "Категрия" исчезла
        }

    }


    &__checkbox {
        margin-right: 10px;

        &:hover {
            border-color: #0BD072;
        }

        &:active {
            border-color: #197C00;
        }

    }


    &__apply {
        display: block;
        margin: 0 auto;
        padding: 8px 20px;
        background-color: $color-primary;
        color: $color-secondary;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: none;

        &:hover {
            background-color: #0BD072;
            border-color: #0BD072;
            color: #fff;
        }

        &:focus {
            background-color: #04E277;
            border-color: #197C00;
        }

        &:active {
            background-color: #CDCDCD;
        }

        @include tablet {
            // < 1000px;
            margin-bottom: 15px;

        }

    }



    &__reset {
        position: absolute;
        top: 5px;
        right: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $color-grey;
        background-color: transparent;
        border: 0;

        &:hover {
            color: #04E277;
        }

        &:focus {
            color: #04E277;
        }

        &:active {
            color: #CDCDCD;
        }


        @include tablet {
            // < 1000px;
            position: static;
            display: block;
            margin: 0 auto; //  центруем

        }

    }
}