.goods {


    &__list {

        // display: flex;
        // flex-wrap: wrap;
        // gap: 30px;

        // а можно через гриды:
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 340px)); //  число колонок завист от ширины экрана, но ширин колонок всегда от 310px  до 340px
        gap: 40px 30px;
    }

    &__item {
        // карточка товара, грид элемент
        min-width: 310px;
        max-width: 340px;


    }

    //---------------------
    .goods-item {}

    .goods-item__image {}

    .goods-item__title {}

    .good-item__buy {}

    .goods-item__proce {}

    .goods-item__to-cart {}
}