.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;


    font-size: 18px;
    line-height: 22px;
    color: $color-primary;

    &__arrow {
        // a 
        display: block;
        width: 18px;
        height: 18px;
        background-image: url('img/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;


        &--start {
            transform: rotate(180deg); // левая стрелка повернется влево
        }

        &--end {}

        &[href=""] {
            opacity: 0.5;
            pointer-events: none; // чтоыб неактвная стрелка былв недоступна
        }
    }



    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    &__item {}


    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        padding: 8px 14px;
        border: 2px solid transparent;
        border-radius: 2px;
        transition: border-color 0.2s ease; // цвет рамки менятся за 0.2s

        &--active {
            border-color: $color-main-sub;
        }
    }




}