.address {

    &__title {
        margin-bottom: 30px;
    }

    &__form {
        display: grid;
        grid-template-columns: 340px 340px 340px;
        gap: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-grey;

    }

    &__item {
        display: block;
        padding: 9px 10px;
        color: $color-grey;
        border: 1px solid $color-primary;
        outline: none;
        width: 100%;
    }

    &__item--select {}

    &__item-btn {
        padding: 8px 125px;
        background-color: $color-primary;
        color: $color-secondary;
    }

    &__label-save {
        // грид элемент
        grid-column: 3/4;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    &__label-save input {
        margin-right: 8px;
    }


}