.address {

    &__title {
        margin-bottom: 30px;
    }

    &__form {
        display: grid;
        grid-template-columns: 340px 340px 340px;

    }

    &__item {}

    &__item--select {}

    &__item-btn {}

    &__label-save {}
}